<?xml version="1.0" encoding="utf-8"?>
<Media Key="23485c6d-e0d3-4208-8873-e54ceaa4f170" Alias="30Dorb" Level="2">
  <Info>
    <Parent Key="3f1e1258-8dfd-43d3-85f8-288794ca9087">Space</Parent>
    <Path>/Space/Dorb</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-21T08:29:02</CreateDate>
    <NodeName Default="30Dorb" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/2kla3fn0/30dorb.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>