<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed937e17-8b2a-4773-a6ac-ac2f1402ddac" Alias="Earth" Level="2">
  <Info>
    <Parent Key="3f1e1258-8dfd-43d3-85f8-288794ca9087">Space</Parent>
    <Path>/Space/Earth</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-21T08:28:52</CreateDate>
    <NodeName Default="Earth" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/tc0nkw0d/earth.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>