<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f1e1258-8dfd-43d3-85f8-288794ca9087" Alias="Space" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Space</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-08-21T08:28:43</CreateDate>
    <NodeName Default="Space" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>